<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="Author" content="ycl">
    <meta name="Description" content="看视频">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="full-screen" content="true" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="360-fullscreen" content="true" />
    <link rel="shortcut icon" href="#" />
    <title>会书习字</title>
    <link rel="stylesheet" href="./public/css/index.css">
</head>
<body>
    <div class="wrap" id="app">
        <div class="cate_box">
            <!-- <div class="cate_bt">
                <img src="./public/images/banner.png">
            </div> -->
            <ul>
                <li v-for="items in cateList" :class="{select:selectCateId==items.id}" @click="selectCate(items.id)">{{ items.name }}</li>
            </ul>
        </div>
        <div class="class_course_box">
            <div class="class_box">
                <ul>
                    <li v-for="items in classList" :class="{select_c:selectClassId==items.id}" @click="selectClass(items)">{{ items.name }}</li>
                </ul> 
            </div>
            <div class="course_box">
                    <div class="course_items" v-for="items in courseList">
                        <div class="course_cover">
                            <img :src="items.cover" class="course_cover_item"/>
                            <div class="play_bt" @click="playVideo(items.id)"></div>
                        </div>
                        <div class="course_title">{{ items.title }}</div>
                        <div class="course_info">
                            等级：{{ items.level_name }} | {{ items.teacher_name }}
                        </div>
                    </div>
            </div>
        </div> 
    </div>
</body>
</html>
<script src="./public/js/axios.min.js"></script>
<script src="./public/js/vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
	  el: '#app',
	  data: {
		cateList: {},
        classList: {},
        courseList: {},
        selectCateId : 1,
        selectClassId : 1
	  },
	  created: function () {
		  this.getCateList();
	  },
	  updated: function() {

	  },
	  computed: {

	  },
	  methods: {
        getCateList: function (){
            let that = this;
            axios.get('../api/public/index.php/hsxz/Cate/getCate?limit=100').then(function (response) {
				if(response.data.status == 1){
                    that.cateList = response.data.data.items;
                    that.getClassList(response.data.data.items[0]['id']);
                }
			}).catch(function (error) {
				console.log(error);
			});
        },
        getClassList: function (cate_id){
			var that = this;
			axios.get('../api/public/index.php/hsxz/Class/getClass?cate_id='+cate_id+'&limit=20').then(function (response) {
				if(response.data.status == 1){
					console.log(response.data.data)
                    if(response.data.data.total){
                        that.classList = response.data.data.items;
                        that.selectClassId = response.data.data.items[0].id;
                        that.courseList = response.data.data.items[0].courses;
                    }else{
                        that.classList = {};
                        that.courseList = {};
                    }

				}
			}).catch(function (error) {
				console.log(error);
			});	
		},
        selectCate: function(id){
            this.selectCateId = id;
            this.getClassList(id);
        },
        selectClass: function(items){
            this.selectClassId = items.id;
            this.courseList = items.courses;
        },
        playVideo: function(id){
            window.location.href = 'video_2.php?course_id='+id;
        }
	  }
	})
</script>