*{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
    color: #333333;
}
ul{
    list-style-type: none;
}
.wrap{
    
}
.cate_box{
    background: #3e98f0;
}
.cate_box .cate_bt{
    width:50px;
    height:40px;
    float: left;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.cate_box .cate_bt img{
    
}
.cate_box ul{
    overflow-x: auto;
    width: auto;
    white-space:nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}
.cate_box ul::-webkit-scrollbar {
    display: none;
}
.cate_box ul li{
    display: inline-block;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    color: #c2daf8;
    margin: 0 5px;
    padding:0 5px;
}
.cate_box .select{
    border-bottom: 2px solid #fff;
    color: #fff;
}
.class_course_box{
    margin-top: 10px;
}
.class_box{
    font-family: ByteNumber-Bold;
    width: 25%;
    overflow: hidden;
    color: #888;
    float: left;
}
.class_box ul{
    background-color: #f7f6f6cc;
}
.class_box ul li{
    text-align: center;
    font-size: 15px;
    padding: 20px 0;
}
.select_c{
    color: #3e98f0;
    font-weight: bold;
    border-left: 2px solid #3e98f0;
    background: #fff
}
.course_box{
    float: left;
    width: 75%;
    overflow-y: scroll;
    height: 650px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}
.course_box::-webkit-scrollbar {
    display: none;
}
.course_items{
    width: 80%;
    margin: 10px auto;
    font-family: -apple-system,BlinkMacSystemFont,Microsoft YaHei UI,Microsoft YaHei,Roboto,Hiragino Sans GB,Source Han Sans CN,Fira Sans,Droid Sans,Helvetica Neue,arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: 212121
}
.course_items .course_cover{
    overflow: hidden;
    border-radius: 5px;
    height:130px;
    position: relative;
}
.course_items .course_cover .play_bt{
    position: absolute;
    width: 43px;
    height: 43px;
    top: 43.5px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 50%;
    background: url(../images/play.png);
    background-size: 100% 100%;
}
.course_items .course_cover .course_cover_item{
    width: 100%;
    height: 100%;
}
.course_items .course_title{
    margin: 5px 0;
}
.course_items .course_info{
    font-size: 12px;
    color: #9e9e9e;
    line-height: 16px;
    height: 16px;
}